{% extends 'base.html' %}

{% block content %}
<main>
    <div class="recipes-body">
        <div class="all-recipes-body-content">
    <aside>
        <h4>Filter</h4>
<section class="filter-wrapper">
    
    <form action="post" class="filter-form">
        <div class="label-input">
        <input type="checkbox" id="vegetarian" value="vegetarian" name="vegetarian">
        <label for="vegeterian">vegeterian</label>
        </div>
        <div class="label-input">
            <input type="checkbox" id="vegan" value="vegan" name="vegan">
        <label for="vegan">vegan</label>
        </div>
        <div class="label-input">
            <input type="checkbox" id="dessert" value="dessert" name="dessert">
        <label for="dessert">dessert</label>
        </div>
    </form>

</section>
<h4>filter by ingredients</h4>

<section class="filter-wrapper">
    
    <form action="post" class="filter-form">
        <div class="label-input">
            <input type="checkbox" id="vegetarian" value="vegetarian" name="vegetarian">
        <label for="vegeterian">ingredient</label>
        </div>
        <div class="label-input">
            <input type="checkbox" id="vegan" value="vegan" name="vegan">
        <label for="vegan">ingredient</label>
        </div>
        <div class="label-input">
            <input type="checkbox" id="dessert" value="dessert" name="dessert">
        <label for="dessert">ingredient</label>
        </div>
    </form>
    
</section>
<h4>
Filter by cooking time</h4>
<section class="filter-wrapper">
    
    <form action="post" class="filter-form">
        <div class="label-input">
            <input type="checkbox" id="vegetarian" value="vegetarian" name="vegetarian">
        <label for="vegeterian">&lt 10 mins</label>
        </div>
        <div class="label-input">
            <input type="checkbox" id="vegan" value="vegan" name="vegan">
        <label for="vegan">&lt 30 mins</label>
        </div>
        <div class="label-input">
            <input type="checkbox" id="dessert" value="dessert" name="dessert">
        <label for="dessert">&lt1 hour</label>
        </div>
    </form>

</section>
</aside>
<div class="main-wrapper">
    <section class="recipe-wrapper-inner">
        {% for recipe in recipes %}
            <a class="recipe-container" href="/recipes/{{recipe.id}}">
                <div class="card-content">
                    <div class="recipe-image"> <img src="{{recipe.image}}" alt="image not loaded"></div>
                    <div class="recipe-name">{{recipe.name}}</div>
                    <div class="recipe-description">{{recipe.description}} </div>
                    <div class="recipe-cooking_time"> <i class="fa fa-clock-o fa-2px"></i>{{recipe.cooking_time}} {{recipe.diet}}</div>

                </div>
            </a>
        {% endfor %}
    </section>
    </div>
</div>
</div>
</div>
</main>
{% endblock %}    



<!-- trying to write a filter function -->
<!-- {% for recipe in recipes %}
return recipe.id where form_data = checked

selected_recipes = []
filtered_result = form_data['recipe.diet']
selected_recipes.append(filtered_result.id)

for recipe in selected_recipes
recipe.name
    
{% endfor %} -->
